/* General Navbar Styles */
.navbar {
  position: relative; /* Navbar fijo en la parte superior */
  top: 0;
  width: 100%;
  height: 90px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
  z-index: 1000;
}

/* Imagen del Navbar */
.navbar-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Botones del Navbar */
.navbar-buttons {
  position: absolute;
  top: 50%;
  right: 1rem; /* Alinea los botones a la derecha */
  transform: translateY(-50%); /* Centra los botones verticalmente */
  display: flex;
  gap: 1rem;
}

/* Botón Base */
.button {
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  text-align: center;
  min-width: 120px;
}

/* HOME Button Styles */
.button-home {
  border: 2px solid #2563eb;
  color: #2563eb;
  background-color: rgba(0, 0, 0, 0.7);
}

.button-home:hover {
  background-color: #2563eb;
  color: white;
}

.button-home-active {
  border: 2px solid #2563eb;
  background-color: #2563eb;
  color: white;
}

/* NUEVO VIDEO Button Styles */
.button-video {
  border: 2px solid white;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
}

.button-video:hover {
  background-color: white;
  color: black;
}

.button-video-active {
  border: 2px solid white;
  background-color: black;
  color: white;
}

/* Responsive Styles */

/* Para tablets y pantallas pequeñas */
@media (max-width: 1024px) {
  .navbar-buttons {
    right: 1rem; /* Alinea los botones a la derecha */
    top: 50%; /* Mantiene los botones centrados verticalmente */
    transform: translateY(-50%);
    justify-content: flex-end; /* Los botones se alinean a la derecha */
    gap: 0.5rem; /* Reduce el espacio entre los botones */
  }

  .button {
    font-size: 1rem; /* Reduce el tamaño de la fuente */
    padding: 0.4rem 1rem; /* Ajusta el tamaño de los botones */
    min-width: 100px; /* Ajusta el tamaño mínimo de los botones */
  }
}

/* Para móviles */
@media (max-width: 768px) {
  .navbar-buttons {
    position: absolute;
    top: 50%;
    right: 1rem; /* Los botones se alinean a la derecha */
    transform: translateY(-50%);
    flex-direction: row; /* Los botones se mantienen en fila horizontal */
    gap: 0.5rem; /* Ajusta el espacio entre los botones */
  }

  .button {
    font-size: 0.9rem; /* Tamaño de fuente más pequeño */
    padding: 0.5rem 1rem; /* Tamaño de botones más pequeños */
    min-width: 80px; /* Ajusta el tamaño mínimo de los botones */
  }
}
